



/* This is my first proper css file */

body{

    background-color: #AEAAAA ;
    max-width: 400px;
    margin: auto;
}


h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:400px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

